@model EgiantsWebsite.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        SetHideShowElements();
        $("input.first-name").change(function () {
            SetHideShowElements();
        });
        //Jquery Ajax Call
        $("button.submit-button").on("click",function(){
            var formvalues = BuildFormElements();
            $.ajax({
                cache: false,
                contentType:"application/json",
                data: JSON.stringify(formvalues),
                url: "@Url.Action("Contact")",
                type: "POST",
                success: function () {
                   ;
                }
            });
        });
    });
    function SetHideShowElements() {
        var firstName = $("input.first-name").val();
        if (firstName.length > 0) {
            $("div.hide-show-elements").show();
        } else {
            $("div.hide-show-elements").hide();
        }
    }
    function BuildFormElements() {
        var id = $("input.id").val();
        var firstName = $("input.first-name").val();
        var lastName = $("input.last-name").val();
        var email = $("input.email").val();
        var contactNumber = $("input.contact-number").val();
        var city = $("input.city").val();
        var message = $("textarea.message").val();
        var contact = {
            Id: id, FirstName: firstName, LastName: lastName, Email: email, ContactNumber: contactNumber, City: city, Message: message
        };
        return contact;
    }

</script>

<h2>Contact Us</h2>
@using (Html.BeginForm("", "", FormMethod.Post,new { @class="manage-contact-form"}))
{
    @Html.HiddenFor(model => model.Id, new { @class="id"})
    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control first-name" })
        </div>
        @Html.ValidationMessageFor(model=>model.FirstName)
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control last-name" })
        </div>
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="form-group row hide-show-elements">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control email" })
        </div>
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group row hide-show-elements">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control contact-number" })
        </div>
        @Html.ValidationMessageFor(model => model.ContactNumber)
    </div>
    <div class="form-group row hide-show-elements">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.City, new { @class = "control-label" })
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.City, new { @class = "form-control city" })
        </div>
        @Html.ValidationMessageFor(model => model.City)
    </div>
    <div class="form-group row hide-show-elements">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Message, new { @class = "control-label" })
        </div>
        <div class="col-sm-4">
            @Html.TextAreaFor(model => model.Message,5,20, new { @class = "form-control message" })
        </div>
        @Html.ValidationMessageFor(model => model.Message)
    </div>
    <div class="form-group row">
        <button type="button" class="btn btn-primary submit-button">Submit</button>
    </div>
}

