@model EgiantsWebsite.ViewModels.ContactApplicationViewModel
@{
    ViewBag.Title = "List of All Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.ContactsList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => contact.FirstName)</td>
                    <td>@Html.DisplayFor(model => contact.LastName)</td>
                    <td>@Html.DisplayFor(model => contact.Email)</td>
                    <td>@Html.DisplayFor(model => contact.ContactNumber)</td>
                    <td>@Html.DisplayFor(model => contact.City)</td>
                </tr>
            }
        </tbody>
    </table>
</div>